################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Mahjong/.vs
/Mahjong/bin
/Mahjong/obj
/Mahjong/logs
/packages
*.user
*.db
